<mat-sidenav-container class="ana-sidenav-container mat-typography">
    <mat-sidenav #sidenav class="mat-elevation-z11"
                [opened]="!isScreenSmall()"
                [mode]="isScreenSmall()? 'over' : 'side'"
                (closedStart)="mainToolbar.toggleOpened()"
                (openedStart)="mainToolbar.toggleOpened()">
      <div class="ana-sidenav">
          <div class="ana-sidenav-header mat-elevation-z6">
             <div class="logo">
               <img class="logo-icon" src="./assets/images/logo/analogo1.png">
               <span class="logo-text">A&A</span>
              </div>             
             <button mat-icon-button (click)= "mainToolbar.hasChanged()">
              <mat-icon aria-label="icon-button">menu</mat-icon>
            </button>
          </div>
          <div class="sidenav-content">

          </div>
      </div>
        
          
    </mat-sidenav>
    <div >    
         <div class="main-content">
            <div class="ana-main-toolbar" >
              <ana-main-toolbar (toggleSidenav)="sidenav.toggle()"></ana-main-toolbar>
            </div>
            <div class="content-container">            
              <router-outlet></router-outlet>
            </div>
         </div>       
    </div>
  
  </mat-sidenav-container>
